<html>
    <head>
        <title>录入成功</title>
        <link rel="stylesheet" href="/static/css/main.css"/>
    </head>
    <body>
        <table>
            <thead>
                <th>物品名</th>
                <th>价格</th>
            </thead>
            <tbody>
                <tr>
                    <td>{{.Name}}</td>
                    <td>{{.Price}}</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
